# Ignore dropbox folder, which should be mounted at repo root as 'dbfiles'
dbfiles

# Ignore emacs autosave
*~

# Ignore makefile
makefile

# Ignore compiled python sources
*.pyc

# Ignore IPython Notebook's checkpoints
.ipynb_checkpoints
